@font-face {
  font-family: 'Alegreya';
  src: url("/fonts/subset-AlegreyaSansSC-Black.woff2") format("woff2"), url("/fonts/subset-AlegreyaSansSC-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

html, body {
  height: 100%;
}

body {
  font: 16px / 1.42;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  color: #212121;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: greyscale;
}

ul {
  margin: 0;
  padding: 0;
}

ul > li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

.wrapper {
  overflow: hidden;
  min-width: 1310px;
}

.container {
  margin: 0 auto;
  width: 1300px;
}

.hero {
  height: 100vh;
  min-height: 650px;
  background: url("/img/bg/bg.png") center center/cover no-repeat;
  position: relative;
}

.hero__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1165px;
  height: 70%;
}

.header {
  padding-top: 27px;
  width: 1290px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-mail {
  text-decoration: none;
  text-align: center;
  color: inherit;
}

.header-mail__title {
  margin-top: 8px;
}

.header-mail__content {
  background: #212121;
  color: #ffbc2f;
  padding: 9px 40px;
}

.fade-slider {
  width: 100%;
  height: 100%;
}

.fade-slider__item {
  background: url("/img/content/hero-slider/slide-1.png") center center/contain no-repeat;
  height: 100%;
}

.fade-slider__text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-164%, -60%);
}

.lined-text {
  font-family: 'Alegreya', Arial, Helvetica, sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 63px;
  line-height: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.lined-text__word {
  background: #000;
  padding: 0 17px 8px;
  margin-top: -7px;
}

.lined-text__word_color-yellow {
  color: #ffbc2f;
}

.lined-text__word:nth-child(2n) {
  margin-left: 8px;
}

.filter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 103px;
}

.filter__item {
  margin-right: 35px;
  margin-right: 0;
}

.filter__item--active .filter__link {
  color: #ffc92f;
  background: #1b1b1b;
}

.filter__link {
  padding: 5px 21px 2px 21px;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #1b1b1b;
  font-family: 'Yanone Kaffeesatz', Arial, Helvetica, sans-serif;
  font-size: 24px;
}

.filter__link:hover {
  color: #d82727;
}

.products {
  padding: 130px 0 184px;
}

.products__item {
  width: 301px;
  height: 386px;
  background: #ffc92f;
  margin-bottom: 30px;
  margin-right: 27px;
  position: relative;
  cursor: pointer;
}

.products__item--color-black {
  background-color: #232323;
}

.products__item--color-black .products__price {
  border-bottom-color: #ffc92f;
}

.products__item--size-double {
  width: 631px;
  height: 544px;
}

.products__item--size-double .products__price-amount {
  color: #212121;
}

.products__item:hover .products__desc {
  transform: translateY(0%);
}

.products__item:hover .products__price {
  display: block;
  transition: all .3;
}

.products__list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -27px;
}

.products__price-emplu {
  overflow: hidden;
}

.products__price {
  position: absolute;
  left: -9px;
  top: 17px;
  width: 126px;
  border-bottom: 45px solid #232323;
  border-right: 2px solid transparent;
  border-left: 5px solid transparent;
  transform: rotate(-181deg);
  display: none;
}

.products__price-amount {
  color: #fcf5e6;
  transform: rotate(-181deg);
  font-family: 'Yanone Kaffeesatz', Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 30px;
  position: absolute;
  top: 5px;
  right: 28px;
  left: 0;
}

.products__content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.products__img {
  display: block;
  max-width: 90%;
  max-height: 90%;
}

.products__desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 30px 35px 20px 35px;
  background: rgba(35, 35, 35, 0.8);
  color: #fff;
  font-size: 15px;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  transform: translateY(100%);
  transition: transform  .3;
}

.products__desc-text {
  text-align: center;
  margin-bottom: 18px;
}

.btn {
  text-transform: uppercase;
  font-family: 'Yanone Kaffeesatz', Arial, Helvetica, sans-serif;
  padding: 7px 27px;
  background: #000;
  color: #ffc92f;
  display: inline-block;
  font-size: 24px;
}

.btn:hover {
  background: #d82727;
  color: #fff;
}

.collections {
  padding-bottom: 145px;
}

.collections__list {
  display: flex;
}

.collections__item {
  min-height: 474px;
  flex: 1;
  overflow: hidden;
  margin-right: 30px;
  background: url("/img/bg/pattern.png") center center/500px;
  position: relative;
}

.collections__item:last-child {
  margin-right: 0;
}

.collections__item:before {
  content: '';
  position: absolute;
  display: block;
  height: 176%;
  width: 60%;
  top: -17%;
  left: -18%;
  background: center center / contain no-repeat;
}

.collections__item--type-male:before {
  content: '';
  background-image: url("/img/collections/collection_man.png");
}

.collections__item--type-female:before {
  content: '';
  background-image: url("/img/collections/collection_woman.png");
  top: -31%;
  width: 80%;
  left: -25%;
}

.collections__link {
  position: relative;
  height: 100%;
  box-sizing: border-box;
  display: block;
  padding: 74px 13% 74px 44%;
  color: inherit;
  font-size: 15px;
}

.collections__link:hover .btn {
  background: #d82727;
  color: #fff;
}

.collections__title {
  font-size: 70px;
  font-family: 'Yanone Kaffeesatz', Arial, Helvetica, sans-serif;
  font-weight: 700;
  padding: 0;
  margin-top: 0;
  margin-bottom: 11px;
  line-height: 1;
  text-transform: uppercase;
}

.collections__desc {
  margin-bottom: 30px;
  color: #1b1b1b;
}

.products__price-emplu {
  overflow: hidden;
}
/*# sourceMappingURL=style.css.map */