@font-face {
    font-family: 'Alegreya';
    src: url('/fonts/subset-AlegreyaSansSC-Black.woff2') format('woff2'),
        url('/fonts/subset-AlegreyaSansSC-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}
